<h1>Examples#five</h1>
<p>Find me in app/views/examples/five.html.erb</p>

<turbo-frame id="form-submit-events">
  <p style="padding: 1rem; border: 1px solid green">
    form submission events [COMPLETE]
  </p>
</turbo-frame>

<turbo-frame id="form-submit-events2">
  <p style="padding: 1rem; border: 1px solid green">
    form submission events [CANCELLED]
  </p>
</turbo-frame>

<turbo-frame id="form-submit-events3">
  <p style="padding: 1rem; border: 1px solid green">
    [COMPLETE]
  </p>
</turbo-frame>
