<turbo-stream action="append" target="element-to-append-to">
  <template>
    <li>
      This list item will be appended to the existing element with the DOM ID "element-to-append-to".
    </li>
  </template>
</turbo-stream>
