<turbo-frame id="form-submit-get">
  <p style="border: 1px solid red; padding: 1rem">[GET] this is content rendered from a completely different controller action</p>
</turbo-frame>

<turbo-frame id="form-submit-post">
  <p style="border: 1px solid red; padding: 1rem">[POST] this is content rendered from a completely different controller action</p>
</turbo-frame>
